*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}  
.smallText{
    padding-top: 10px;
    padding-left: 3px;
    line-height: 23px;
}
input.email,.password{
    margin-left: 40px;
    border: 3px solid white;
    border-radius: 10px;
    background: transparent;
    width: 200px;
    height: 35px;
}

input::placeholder{
    font-weight: bold;
    color: #613B58;
    padding: 10px;
}
input:focus{
    outline-style: none;
}
.signup:hover{
opacity: 0.9;
transition: all 0.3s ease-in-out;
}
/*this i couldnt pass it to js style*/
button.socialLogos{
    background-color: white;
    border-style: none;
    border-radius: 7px;
    height: 50px;
    width: 60px;
    margin-left: 7px;
    cursor: pointer;
}
      @keyframes bounce{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
/*.mainContainer{
    margin-left: -400px;
width: 650px;
height: 550px;  
display: flex;
justify-content: flex-start;
align-items: left;
flex-direction: column;
position: absolute; 
background-color: #faf3f39c;
backdrop-filter: blur(5px);
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

}*/
 @media  (max-width: 1052px) {
    
     .mainContainer{
        margin-left: -300px;
    }
 }

