*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
} 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    background-image: url(images/blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.mainContainer{
    margin-left: -400px;
    width: 650px;
    height: 550px; 
     display: flex;
     justify-content: flex-start;
     align-items: left;
     flex-direction: column;
     position: absolute; 
     background-color: #faf3f39c;
     backdrop-filter: blur(5px);
     border-top-left-radius: 25px;
     border-bottom-left-radius: 25px;
     box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.smallText{
    padding-top: 10px;
    padding-left: 3px;
    line-height: 23px;
}
input.email,.password{
    margin-left: 40px;
    border: 3px solid white;
    border-radius: 10px;
    background: transparent;
    width: 200px;
    height: 35px;
}
input::placeholder{
    font-weight: bold;
    color: #613B58;
    padding: 10px;
}
input:focus{
    outline-style: none;
}
hr{
    background-color: white;
    color: white;
    height: 3px;
    border-style: none;
    border-radius: 16px;
    width: 90px;
}
.square{
    position: absolute;
max-height:550px;
max-width:500px;
    height:100%;  
    width: 100%;
    background-color: #F39B5A;
    margin: 100px 0 100px 500px;
    border-radius: 25px;
    z-index: 1;
}
.mobileImg{
    position: relative; height: 100%; width: 100%;
}
.rocket{
    height: 390px; width: 360px;  z-index: 1; top:80px; margin-left: -190px; position: relative;
}
.signIn{
    color: #7B37A6;
    font-size: 11px;
    margin-left: 195px;
    margin-top: -14px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.man{
    height: 100%;
      width: 100%;
      position: absolute;
      animation: bounce 2s infinite ease-out alternate;
}
.mainContainer .text{
    margin: 45px 0 0 40px;
}
.bigText{
    font-size: 40px;
     line-height: 40px;
}
form div .or{
    font-size: 13px;
padding-bottom: 3px;
margin: 8px 0 0 137px;
}
form .bottomText{
    margin: 7px 0 0 40px;
    font-size: 12px;
    font-weight: bold;
}
.signup{
    background-color: #4CA2F7;
    border-style: none;
    border-radius: 7px;
    color: white;
    padding: 15px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40px;
    cursor: pointer;
}
.signup:hover{
opacity: 0.9;
transition: all 0.3s ease-in-out;
}
/*this i couldnt pass it to js style*/
button.socialLogos{
    background-color: white;
    border-style: none;
    border-radius: 7px;
    height: 50px;
    width: 60px;
    margin-left: 7px;
    cursor: pointer;
}
      @keyframes bounce{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
/*a vergonha da profission*/


/*.mainContainer{
    margin-left: -400px;
width: 650px;
height: 550px;  
display: flex;
justify-content: flex-start;
align-items: left;
flex-direction: column;
position: absolute; 
background-color: #faf3f39c;
backdrop-filter: blur(5px);
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

}*/
 
@media (max-width: 1056px) {
.mainContainer{
    margin-left: -350px;
    width: 650px;
    height: 550px; 
     display: flex;
     justify-content: flex-start;
     align-items: left;
     flex-direction: column;
     position: absolute;
      background-color: #faf3f39c;
      backdrop-filter: blur(5px);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
}
@media (max-width: 1002px) {
.mainContainer{
    margin-left: -250px;
    width: 650px;
    height: 550px; 
     display: flex;
     justify-content: flex-start;
     align-items: left;
     flex-direction: column;
     position: absolute;
      background-color: #faf3f39c;
      backdrop-filter: blur(5px);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.rocket{
    height: 390px; width: 290px;  z-index: 1; top:80px; margin-left: -190px; position: relative;
}
.square{
    position: absolute;
    max-height:550px;
    max-width:500px; 
    height: 100%; 
     width: 100%;
     background-color: #F39B5A;
     margin: 100px 0 100px 400px;
     border-radius: 25px;z-index: 1;
}
}
@media (max-width: 900px) { 
.mainContainer{
    margin-left: -150px;
    width: 650px;
    height: 550px; 
     display: flex;
     justify-content: flex-start;
     align-items: left;
     flex-direction: column;
     position: absolute; 
     background-color: #faf3f39c;
     backdrop-filter: blur(5px);
     border-top-left-radius: 25px;
     border-bottom-left-radius: 25px;
     box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.rocket{
    height: 350px; width: 230px;  z-index: 1; top:80px; margin-left: -100px; position: relative;
}
.square{
    position: absolute;
    max-height:550px;
    max-width:500px;
     height: 100%;
       width: 100%;
       background-color: #F39B5A;
       margin: 100px 0 100px 300px;
       border-radius: 25px;
       z-index: 1;
}
   }
   @media (max-width: 800px) {
       .mainContainer{
        margin-left: -50px;
        width: 650px;
        height: 550px; 
        display: flex;
        justify-content: flex-start;
        align-items: left;
        flex-direction: column;
        position: absolute;
        background-color: #faf3f39c;
        backdrop-filter: blur(5px);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
       }
       .rocket{
        height: 350px;
         width: 230px; 
          z-index: 1;
           top:80px;
            position: relative;
            margin-left:  10px;
       }
       .square{
        position: absolute;
        max-height: 550px;
        width:100%;
        height: 100%;
          max-width: 400px;
          background-color: #F39B5A;
          margin: 100px 0 100px 300px;
          border-radius: 25px;z-index: 1;
       }
    }  
    @media (max-width: 700px) {
        .mainContainer{
            margin-left: -50px;
            width: 550px;
            height: 550px; 
            display: flex;
            justify-content: flex-start;
            align-items: left;
            flex-direction: column;
            position: absolute;
            background-color: #faf3f39c;
            backdrop-filter: blur(5px);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
           }
           .rocket{
            height: 350px;
             width: 210px;
               z-index: 1;
                top:80px;
                 position: relative;
                 margin-left:  90px;
           }
           .square{
            position: absolute;
            max-height: 550px;
            width:100%;
            height: 100%;
              max-width: 300px;
              background-color: #F39B5A;
              margin: 100px 0 100px 300px;
              border-radius: 25px;z-index: 1;
           }
           .mobileImg{
            position: relative;
             height: 100%; 
             width: 100%;
             transform: scale(1.3);
        }
        .bigText{
            font-size:30px;
            line-height:40px;
        }
    }
    @media (max-width: 600px) {
        .mainContainer{
            margin-left: 0.0px;
            width: 450px;
            height: 450px; 
            display: flex;
            justify-content: flex-start;
            align-items: left;
            flex-direction: column;
            position: absolute;
            background-color: #faf3f39c;
            backdrop-filter: blur(5px);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border-top-right-radius:20px;
            border-bottom-right-radius: 20px;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
           }
           .rocket{
            height: 350px;
             width: 210px;
               z-index: 1;
                top:80px;
                 position: relative;
                 margin-left:  190px;
           }
           .square{
            position: absolute;
            max-height: 450px;
            width:100%;
            height: 100%;
              max-width: 200px;
              background-color: #F39B5A;
              margin: 100px 0 100px 260px;
              border-radius: 25px;z-index: 1;
           }
           .mobileImg{
            position: relative;
             height: 100%; 
             width: 110%;
             transform: scale(1.3);
        }
        .bigText{
            font-size:25px;
            line-height:40px;
        }
       .mainContainer .text{
            margin: 5px 0 0 10px
        }
        form{
            margin-left: -20px;
        }
    }
    @media (max-width: 446px) {
        .mainContainer{
            margin-left: -40px;
            width: 350px;
            height: 370px; 
            display: flex;
            justify-content: flex-start;
            align-items: left;
            flex-direction: column;
            position: absolute;
            background-color: #faf3f39c;
            backdrop-filter: blur(5px);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border-top-right-radius:20px;
            border-bottom-right-radius: 20px;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
           }
           .rocket{
            height: 180px;
             width: 200px;
               z-index: 1;
                top:80px;
                 position: relative;
                 margin-left:  190px;
           }
           .square{
            position: absolute;
            max-height: 370px;
            width:100%;
            height: 100%;
              max-width: 200px;
              background-color: #F39B5A;
              margin: 100px 0 100px 200px;
              border-radius: 25px;
              z-index: 1;
           }
           .mobileImg{
            position: relative;
             height: 100%; 
             width: 110%;
             transform: scale(1.3);
        }
        .mainContainer .text .smallText{
            padding-top: 0px;
            line-height:15px;
            font-size: 12px;
        }
        .bigText{
            font-size:20px;
            line-height:25px;
        }
       .mainContainer .text{
            margin: 1px 0 0 10px
        }
        form{
            margin-left: -50px;
            transform:scale(0.9);
        }
    }
    @media (max-width: 390px) {
        .mainContainer{
            margin-left: -10px;
            width: 350px;
            height: 370px; 
            display: flex;
            justify-content: flex-start;
            align-items: left;
            flex-direction: column;
            position: absolute;
            background-color: #faf3f39c;
            backdrop-filter: blur(5px);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border-top-right-radius:20px;
            border-bottom-right-radius: 20px;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
           }
           .rocket{
            height: 180px;
             width: 150px;
               z-index: 1;
                top:80px;
                 position: relative;
                 margin-left:  170px;
           }
           .square{
            position: absolute;
            max-height: 370px;
            width:100%;
            height: 100%;
              max-width: 200px;
              background-color: #F39B5A;
              margin: 100px 0 100px 149px;
              border-radius: 25px;
              z-index: 1;
           }
           .mobileImg{
            position: relative;
             height: 100%; 
             width: 110%;
             transform: scale(1.3);
        }
        .mainContainer .text .smallText{
            padding-top: 0px;
            line-height:15px;
            font-size: 9px;
        }
        .bigText{
            font-size:16px;
            line-height:20px;
        }
       .mainContainer .text{
            margin: 1px 0 0 10px
        }
        form{
            margin-left: -90px;
            transform:scale(0.7);
        }
    }